body{
    background-color: rgb(211, 85, 116);
    font-style: sans-serif;
    text-align: center;
}

h1{
    color:orange;
    text-align: center;
}
h2{
    color:mediumblue;
    text-align: center;
}
h3{
    color:rgb(209, 228, 46);
    text-align: center;
    
}
#pret-vechi{
    text-decoration: line-through;
    font-size: 0.8em;
}
img{
    display: block;
}
p{
    display: inline
}
blockquote{
    font-size: 1.5em;
    font-style: italic;
    color: rgb(31, 235, 78);
    text-decoration-style: dotted;
    text-decoration-line: underline;
    text-decoration-color: rgb(232, 245, 53);

}
ol{
    font-family: sans-serif;
    list-style-type: '♣';
    list-type-image: url()

}